{% extends "blogs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>编辑帖子:</h2>
{% endblock header %}

{% block content %}

  <p><a href="{% url 'blogs:topic' topic.id %}">{{ topic }}</a></p>

  <form action="{% url 'blogs:edit_topic' topic.id %}" method='post'
      class="form">
    <!-- 防止攻击者利用表单来获得对服务器未经授权的访问（这种攻击被称为跨站请求伪造） -->
    {% csrf_token %}
    {% bootstrap_form form %}

    <!-- 创建提交按钮 -->
    {% buttons %}
      <button name="submit" class="btn btn-primary">保存</button>
    {% endbuttons %}
  </form>

{% endblock content %}